/*#region PAGE COMPONENTS */

html,
body {
  background: var(--btnBoxTop_bgColor);
}

.btn {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:var(--btnBoxTop_bgColor);
  color: var(--btnBoxTop_txColor);
  border: 0px solid var(--btnBoxTop_bgColor);
  padding: 5px;
  text-align:center;
  font-weight: bold;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  height: 30px;
  margin: 2px;
}

.btnAction {
  min-width: 30px;
  max-width: 30px;
}

.btnRight {
    margin-right: 0px;
}

.btn:hover {
  cursor: pointer; 
  border: 3px solid white;
}

.btnApp {
    min-height: 40px;
    min-width: 120px;
}

.btnIcon {
  min-height: 15px;
  min-width: 15px;
  border: 0px;
  background: transparent;
}

.borderSelected {
  border-color: var(--btnSelected_borderColor) !important;
}

.status {
  min-width:150px;
  max-width:150px;
}

.label {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:var(--btnBoxItem_bgColor);
  padding: 5px;
  text-align:center;
  font-weight: bold;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  height: 30px;
  margin: 2px;
  min-width: 100px;
  max-width: 100%;
  color: white;
}

.lblName {
  width: 100% !important;
  text-align: left;
}

.actionHdr {
  min-width: 98px;
  max-width: 98px;
}

.header {
  color: cyan !important;
  background-color: var(--btnBoxTop_bgColor) !important; 
  border: 0px;
}

/*#endregion PAGE COMPONENTS */

/*#region PAGE AREAS */
.top {
  background: var(--logo_bgColor);
}

.appNav {
  background: var(--logo_bgColor);
  align-items: center;
}

.appWindow {
    background: var(--app_bgColor);
}

/*#endregion PAGE AREAS */

/*#region TEST COLORS */
.red {
    background-color: red;
}

.green {
  background-color: green;
}

.cyan {
    background-color: cyan !important;
}

.orange {
    background-color: orange !important;
}

.gray {
    background-color: gray !important;
}

.white {
    background-color: white !important;
}

/*#endregion TEST COLORS */


#btnStartAll {
  min-width: 80px;
}

#btnStopAll {
  min-width: 80px;
}

#btnAddApp {
  min-width: 150px;
}

.running {
  background-color: green;
}

.stopped {
  background-color: red;
}

.transition{
  background-color: yellow;
  color: black;
}